
<p>
  {% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <a href="{% url 'app_users:logout' %}"><b>Log Out</b></a>
   {% else %} 
   <a href="{% url 'app_users:register' %}">register</a>
   <a href="{% url 'app_users:login' %}">log in</a>
  {% endif %} 
</p>



<p>
  <h1>Hotsprings Questions!</h1>
</p>

<br>


<p><b>Directions:</b> Click the button below to view your hotsprings question. </p>

<br>

<form method="POST" action="{% url 'offsite_questions:index' %}">
  {% csrf_token %}
  <button name="submit">View my Question!</button>
</form>

<br>

<h4>Your question: {{ question }}</h4>
